/* Ant form element label styles */
.ant-form-item-label > label {
  font-size: 12px;
  color: #666980 !important;
  font-weight: 600;
  text-transform: uppercase;
}

/* .ant-input {
  height: 50px;
} */

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
  height: 50px;
}

.ant-input:focus,
.ant-input:active {
  outline: none !important;
  border-color: #054582 !important;
  box-shadow: none !important;
}

.ant-input:hover {
  outline: none !important;
  border-color: #77838d !important;
  box-shadow: none !important;
}

.a8Select {
  width: 100%;
}

.a8Select .ant-select-selection--single {
  border-color: #d7d9e5;
  height: 50px;
  border-radius: 8px;
  padding: 6px 12px;
  box-shadow: none;
}

.a8Select .ant-select-selection--single .ant-select-selection__rendered {
  position: relative;
  display: block;
  margin-right: 11px;
  margin-left: 0px;
  line-height: 34px;
}

.a8Select .ant-select-selection:hover {
  outline: none;
  border-color: #77838d;
  box-shadow: none;
}

.a8Select .ant-select-selection:focus,
.ant-select-selection:active {
  outline: none !important;
  border-color: #054582 !important;
  box-shadow: none !important;
}

.ant-calendar-date {
  font-weight: 700 !important;
  font-size: 11px !important;
  color: #212332 !important;
  border-radius: 150px !important;
  padding: 0px !important;
}

.ant-calendar-today .ant-calendar-date {
  border-radius: 150px !important;
  padding: 0px !important;
  border-color: #959ea9 !important;
  background: white !important;
}

.ant-calendar-date:hover {
  border-radius: 150px;
  padding: 0px;
  background: #a8abbd !important;
  border-color: #a8abbd !important;
  color: #fff !important;
}

.ant-calendar-selected-date .ant-calendar-date,
.ant-calendar-selected-start-date .ant-calendar-date,
.ant-calendar-selected-end-date .ant-calendar-date {
  background: #cb1e1a !important;
  border-color: #cb1e1a !important;
  color: white !important;
}

.ant-calendar .ant-calendar-ok-btn {
  background: #cb1e1a !important;
  border-color: #cb1e1a !important;
  color: white !important;
}

/* Uploader Styles Start */

.fileUploadWrapper {
  max-width: 100%;
  position: relative;
  overflow-y: auto;
}

.fileNameWrapper {
  cursor: pointer;
  text-align: center;
  text-overflow: ellipsis;
  width: 97px;
  overflow: hidden;
  margin-left: 3px;
}

.fileNameWrapper .tagWrapper {
  cursor: pointer;
}

.customIcon {
  text-align: center;
  margin-top: 8px;
  color: #cb1e1a;
  font-size: 39px;
}

.active {
  display: auto;
}

.actionWrapper {
  position: absolute;
  left: 0px;
  bottom: 0px;
  /* top: 0px; */
  background: #cb1e1a96;
  width: 100px;
  height: auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 14px;
  padding-bottom: 4px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.inactive {
  display: none;
}

.ant-popover-title {
  color: #f15139 !important;
}

.tagWrapper {
  background: rgba(241, 81, 57, 0.2) !important;
  color: #f15139 !important;
}

.actionIconStyle {
  padding-right: 6px;
  padding-left: 6px;
}

.form-files {
  display: flex;
}

.form-files-input {
  display: inline-block;
  vertical-align: top;
  position: relative;
  border: 2px solid #cb1e1a;
  border-radius: 8px;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-bottom: 20px;
  margin-right: 27px;
}

.form-files-preview-item {
  display: inline-block;
  vertical-align: top;
  margin-right: 27px;
  margin-bottom: 20px;
  overflow: hidden;
  width: 100px;
  font-size: 12px;
  color: #a8abbd;
  text-align: left;
}

.form-files-preview-item .form-files-preview-item-image {
  display: block;
  width: 100px;
  height: 100px;
  border: 1px solid #d7d9e5;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 #d7d9e5;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
}

.form-files-input input {
  /* position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; */
  opacity: 0;
}

.form-files-input::before {
  width: 32px;
  height: 6px;
  left: calc(50% - 16px);
  top: calc(50% - 3px);
}

.form-files-input::after {
  width: 6px;
  height: 32px;
  left: calc(50% - 3px);
  top: calc(50% - 16px);
}

.form-files-input::after,
.form-files-input::before {
  content: "";
  background: #cb1e1a;
  position: absolute;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form-files-input:hover,
.form-files-input:focus {
  background: #cb1e1a;
}

.form-files-input:hover::after, .form-files-input:hover::before, .form-files-input:focus::after, .form-files-input:focus::before {
  background: #fff;
}

.form-files-preview-item .form-files-preview-item-image img {
  min-width: 100%;
  max-height: 100%;
  width: auto;
  max-width: none;
}
/** Uploader Style ends **/

/** Radio Wrapper Styles Start **/
.ant-radio-inner {
  width: 20px !important;
  height: 20px !important;
  border-color: #a8abbd !important;
}

.ant-radio-inner::after {
  background-color: white !important;
  content: "" !important;
  text-align: center !important;
  position: absolute !important;
  left: -1px !important;
  top: calc(50% - 10px) !important;
  width: 20px !important;
  height: 20px !important;
  /* opacity: 0 !important; */
  border: 5px solid #054582 !important;
  transition: all 0.1s ease !important;
  border-radius: 50% !important;
}

.ant-radio-checked .ant-radio-inner {
  border-color: #054582 !important;
  background-color: #054582 !important;
}

.ant-radio-disabled .ant-radio-inner:hover {
  border-color: #d9d9d9 !important;
}

.ant-spin-dot-item {
  background-color: #cb1e1a !important;
}

/** Radio Wrapper Styles End **/

.spinnerStyle {
  color: rgb(203, 30, 26) !important;
  margin-top: 19px !important;
  text-align: center !important;
  /* margin-left: 0px; */
  font-family: initial !important;
}

/** Datepicker styles **/
.a8DatePicker input {
  height: 50px;
  width: 100%;
}

.ant-form-item-control {
  line-height: 0px !important;
}

.a8CheckBox .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: #054582 !important;
}

.a8CheckBox .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #054582;
  border-color: #054582;
}

.a8CheckBox .ant-checkbox-wrapper + span,
.ant-checkbox + span {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.a8Switch.ant-switch-checked {
  background-color: #054582;
}
